<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo integrador</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section>
            <div class="navigator">
                <div class="menu">
                    <ul>
                        <li><a href=""></a>Inicio</li>
                        <li><a href=""></a>Tienda</li>
                        <li><a href=""></a>Promos</li>
                        <li><a href=""></a>Distribuidora DAJA</li>
                        <li><a href=""></a>Contacto</li>
                        <li><a href=""></a>Carrito</li>
                        <li><a href=""></a>Perfil</li>
                        <li><a href=""></a>Registrarse</li>
                        <li><a href=""></a>Login</li>
                    </ul>
                </div>


                <div class="burger-over">
                    <i class="fas fa-bars burger-menu"></i>
                </div>
            </div>



        </section>
    </header>
    <main>
        <section>

        </section>
    </main>
    <footer>
        <div class="">
            <div class="part1-footer">
                <h4>CONTACTANOS</h4>

                    <h6 class="footer1">Telefono:</h6>
                    <h6 class="footer2">0291 441-3704</h6>
             
                    <h6 class="footer3">Email:</h6>           
                    <h6 class="footer4">daja@gmail.com</h6>
           
                    <h6 class="footer5">Horarios de Atención:</h6>
                    <h6 class="footer6">Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</h6>
               
            </div>
            <div></div>
            <div></div>
        </div>
    </footer>

</body>

</html>