<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trabajo integrador</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section>
            <div class="navigator">
                <div class="menu">
                    <ul>
                        <li><a href=""></a>Inicio</li>
                        <li><a href=""></a>Tienda</li>
                        <li><a href=""></a>Promos</li>
                        <li><a href=""></a>Distribuidora DAJA</li>
                        <li><a href=""></a>Contacto</li>
                        <li><a href=""></a>Carrito</li>
                        <li><a href=""></a>Perfil</li>
                        <li><a href=""></a>Registrarse</li>
                        <li><a href=""></a>Login</li>
                    </ul>
                </div>


                <div class="burger-over">
                    <i class="fas fa-bars burger-menu"></i>
                </div>
            </div>



        </section>
    </header>
    <main>



        <section>
            <h1>Basado en tu última visita</h1>
            <div class="products-responsive">
                <div class="article">
                    <div class="images-box">
                        <img src="/images/cerveza-3-horses-lager.jpg" alt="cerveza 3 houses" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cerveza 3 Houses</h4> <br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/cerveza-miller-rubia.jpg" alt="cerveza miller rubia" class="pictures">
                    </div>
                    <div class="description-box">
                        <div class="picture-truck">
                            <i class="fas fa-truck"></i>
                        </div>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">Cerveza Miller Rubia</h4> <br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/cerveza-patagonia.jpg" alt="cerveza patagonia" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Cerveza Patagonia</h4><br>
                    </div>
                </div>
                <div class="article">
                    <div class="images-box">
                        <img src="/images/corona.jpg" alt="corona" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">Cerveza Corona</h4><br>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h1>Sección de Ofertas</h1>

            <div class="products-responsive">
                <div class="article">
                    <div class="images-box">
                        <img src="/images/IPA.jpg" alt="IPA" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$634.27</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cerveza IPA</h4> <br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/kostritzer-black-beer.jpg" alt="kostritzer black beer" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$543.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">kostritzer Back Beer</h4> <br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/poker-21.jpg" alt="cerveza poker 21" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$770.400</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Cerveza Poker 21</h4><br>
                    </div>
                </div>

                <div class="article">
                    <div class="images-box">
                        <img src="/images/tipos-cerveza.jpg" alt="cerveza artesanal" class="pictures">
                    </div>
                    <div class="description-box">
                        <i class="fas fa-truck"></i>
                        <div class="price-discount">
                            <p class="price">$464.700</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">Cerveza Artesanal"</h4><br>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <footer>
        <div class="all-footer">
            <div class="part-footer-change">
                <h4>CONTACTANOS</h4>
                <div class="bold-font">
                    <p>Telefono:</p>
                </div>
                <p>0291 441-3704</p>
                <div class="bold-font">
                    <p>Email:</p>
                </div>
                <p>daja@gmail.com</p>
                <div class="bold-font">
                    <p>Horarios de Atención:</p>
                </div>
                <p>Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</p>
            </div>

            <div class="part-footer-change">
                <div class="bold-font">
                    <p>ACERCA DE DAJA</p>
                </div>
                <div class="bold-font">
                    <p>Mision</p>
                </div>
                <div class="bold-font">
                    <p>Vision</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>