<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>trabajo integrador</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <section>
      <div id="header">
        <div class="logo">
          <a href="#">DAJA</a>
        </div>
        <nav>
          <div class="menu-major">
            <div class="input-menu">
              <input name="q" placeholder="Buscar..." type="Buscar...">
            </div>
            
              <li>
                <a href="">Inicio</a>
              </li>
              <li>
                <a href="">Quienes somos</a>
                <!-- <ul class="mega-dropdown"> -->
                <!-- <li class="row"> -->
                <!-- <ul class="mega-col">
                      <li><a href="#">Quienes somos</a></li>
                      <li><a href="#">Quienes somos</a></li>
                      <li><a href="#">Iniciar Sesion</a></li>
                      <li><a href="#">Iniciar Sesion</a></li>
                    </ul> -->
                <!-- <ul class="mega-col">
                      <li><a href="#">Ayuda</a></li>
                      <li><a href="#">Precios</a></li>
                      <li><a href="#">Carrito</a></li>
                      <li><a href="#">Servicios</a></li>
                    </ul> -->
                <!-- <ul class="mega-col">
                      <li><a href="#">Pronto</a></li>
                      <li><a href="#">404 Error</a></li>
                      <li><a href="#">Buscar</a></li>
                      <li><a href="#">Pagina de autor</a></li>
                    </ul> -->
                <!-- <ul class="mega-col">
                      <li><a href="#">Full Width</a></li>
                      <li><a href="#">Right Column</a></li>
                      <li><a href="#">Left Column</a></li>
                      <li><a href="#">Maintenance</a></li>
                    </ul> -->
              </li>
            
            </li>
            <li class="dropdown">
              <a href="">Iniciar Sesion</a>
              <!-- <ul>
                  <li><a href="#">Quienes somos</a></li>
                  <li><a href="#">Quienes somos</a></li>
                  <li><a href="#">Contactanos</a></li>
                  <li><a href="#">Contactanos</a></li>
                </ul> -->
            </li>
            <li>
              <a href="">Registrarse</a>
            </li>
            <li>
              <a href="">Carrito</a>
            </li>
            </ul>
          </div>
        </nav>
        <div class="burger-over">
          <i class="fas fa-bars burger-menu"></i>
        </div>
      </div>

      </div>
    </section>
  </header>
  <main>
    <section>
      <h1>Basado en tu última visita</h1>
      <div class="products-responsive">
        <div class="article">
          <div class="images-box">
            <img src="/images/cerveza-3-horses-lager.jpg" alt="cerveza 3 houses" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">Cerveza 3 Horses</h4>
            <br />
          </div>
        </div>
        <div class="article">
          <div class="images-box">
            <img src="/images/cerveza-miller-rubia.jpg" alt="cerveza miller rubia" class="pictures" />
          </div>
          <div class="description-box">
            <div class="picture-truck">
              <i class="fas fa-truck"></i>
            </div>
            <div class="price-discount">
              <p class="price">$230.000</p>
              <p class="discount">20% off</p>
            </div>
            <h4 class="description">Cerveza Miller Rubia</h4>
            <br />
          </div>
        </div>
        <div class="article">
          <div class="images-box">
            <img src="/images/cerveza-patagonia.jpg" alt="cerveza patagonia" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$70.500</p>
              <p class="discount">10% off</p>
            </div>
            <h4 class="description">Cerveza Patagonia</h4>
            <br />
          </div>
        </div>
        <div class="article">
          <div class="images-box">
            <img src="/images/corona.jpg" alt="corona" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$23.200</p>
              <p class="discount">5% off</p>
            </div>
            <h4 class="description">Cerveza Corona</h4>
            <br />
          </div>
        </div>
      </div>
    </section>
    <section>
      <h1>Sección de Ofertas</h1>

      <div class="products-responsive">
        <div class="article">
          <div class="images-box">
            <img src="/images/IPA.jpg" alt="IPA" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$634.27</p>
              <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">Cerveza IPA</h4>
            <br />
          </div>
        </div>

        <div class="article">
          <div class="images-box">
            <img src="/images/kostritzer-black-beer.jpg" alt="kostritzer black beer" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$543.000</p>
              <p class="discount">20% off</p>
            </div>
            <h4 class="description">Kostritzer Back Beer</h4>
            <br />
          </div>
        </div>

        <div class="article">
          <div class="images-box">
            <img src="/images/poker-21.jpg" alt="cerveza poker 21" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$770.400</p>
              <p class="discount">10% off</p>
            </div>
            <h4 class="description">Cerveza Poker 21</h4>
            <br />
          </div>
        </div>

        <div class="article">
          <div class="images-box">
            <img src="/images/tipos-cerveza.jpg" alt="cerveza artesanal" class="pictures" />
          </div>
          <div class="description-box">
            <i class="fas fa-truck"></i>
            <div class="price-discount">
              <p class="price">$464.700</p>
              <p class="discount">5% off</p>
            </div>
            <h4 class="description">Cerveza Artesanal</h4>
            <br />
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="all-footer">
      <div class="part-footer-change">
        <h4>CONTACTANOS</h4>
        <div>
          <div class="bold-font">
            <i class="fas fa-phone"></i>
            <p>Telefono:</p>
            <p>0291 441-3704</p>
          </div>
        </div>
        <div>
          <i class="fas fa-envelope"></i>
          <div class="bold-font">
            <p>Email:</p>
            <p>daja@gmail.com</p>
          </div>
        </div>
        <div>
          <i class="fas fa-clock"></i>
          <div class="bold-font">
            <p>Horarios de Atención:</p>
            <p>Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</p>
          </div>
        </div>
      </div>

      <div class="part-footer-change">
        <div>
          <i class="fas fa-info-circle"></i>
          <div class="bold-font">
            <p>ACERCA DE DAJA</p>
          </div>
          <div class="bold-font">
            <p>Mision</p>
          </div>
          <div class="bold-font">
            <p>Vision</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>