<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <div class="all-form-register">


            <div class="form-register">
                <div class="div-first-register-form div-first-register-form-name">
                    <input type="text" placeholder=" Nombre y apellido:" class="first-register-form">
                </div>
                <div class="div-first-register-form">
                    <input type="text" placeholder=" Nombre de usuari@:" class="first-register-form">
                </div>
                <div class="change-label">
                    <label>Fecha de nacimiento</label>
                </div>
                <div class="div-first-register-form">
                    <input type="date" class="first-register-form">
                </div>
                <div class="div-first-register-form">
                    <input type="text" placeholder=" Domicilio:" class="first-register-form">
                </div><br>
                <div>
                    <div class="change-label">
                        <label>Perfil del usuario: </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="radio" value="Comprar">
                        <label>Comprar </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="radio" value="Vender">
                        <label>Vender </label>
                    </div>
                </div>

                <div>
                    <div class="change-label">
                        <label>Intereses: </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="checkbox" value="Electro">
                        <label>Electro </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="checkbox" value="Moda">
                        <label>Moda </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="checkbox" value="Hogar">
                        <label>Hogar </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="checkbox" value="Juguetería">
                        <label>Juguetería </label>
                    </div>
                    <div class="div-first-register-form">
                        <input type="checkbox" value="Vida sana">
                        <label>Vida sana </label>
                    </div>
                </div><br>
                <div class="div-change-photo">
                    <label class="change-photo">Foto del usuario: </label>
                    <input type="file" class="to-attach-register">
                </div>
                <div class="div-first-register-form">
                    <input type="password" placeholder=" Contraseña:" class="first-register-form" required>
                </div>
                <div class="div-first-register-form">
                    <input type="password" placeholder=" Confirmar contraseña:" class="first-register-form" required>
                </div>
                <div class="buttons-register">
                    <div>
                        <button type="submit" class="buttons-register-modification">Enviar</button>
                    </div><br>
                    <div class="div-button-delete">
                        <button type="reset" class="buttons-register-modification">Borrar</button>
                    </div>
                </div>
            </div>
        </div>







    </main>
    
</body>
</html>