<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

  <body>
    <header>
      <section>
        <%- include('./partials/nav.ejs')%> 
      </section>
    </header>

    <main>
      <div class="logo-central">
        <img src="/images/logoCentral.jpg" alt="foto cervezas daja"><br>
      </div>


    </main>
    <%- include('./partials/footer.ejs')%>
  </body>

</html>