<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trabajo integrador</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <section>
            <div id="header">
              <div class="logo">
                <a href="#">DAJA</a>
              </div>
              <nav>
                <div class="menu-major">
                  <div class="input-menu">
                    <input name="q" placeholder="Buscar..." type="Buscar...">
                  </div>
      
                  <li>
                    <a href="/">Inicio</a>
                  </li>
                  <li>
                    <a href="">Quienes somos</a>
                  </li>
                  </li>
                  <li>
                    <a href="/login">Iniciar Sesion</a>              
                  </li>
                  <li>
                    <a href="/register">Registrarse</a>
                  </li>
                  <li>
                    <a href="/carrito">Carrito</a>
                  </li>
                  </ul>
                </div>
              </nav>
              <div class="burger-over">
                <i class="fas fa-bars burger-menu"></i>
              </div>
            </div>
      
            </div>
          </section>
    </header>
    <main>
        <section>
            <div class="container white z-depth-2">
                <ul class="tabs teal">
                    <li class="tab col s3">
                        <a class="white-text active" href="#">login</a>
                    </li>
                    <li class="tab col s3">
                        <a class="white-text" href="#">register</a>
                    </li>
                </ul>
                <div id="login" class="col s12">
                    <form class="col s12">
                        <div class="form-container">
                            <h3 class="teal-text">Hola!</h3>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" />
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" />
                                    <label for="password">Contraseña</label>
                                </div>
                            </div>
                            <br />
                            <center>
                                <button class="btn waves-effect waves-light teal" type="submit" name="action">
                                    Conectar
                                </button>
                                <br />
                                <br />
                                <a href="">Olvidaste tu contraseña?</a>
                            </center>
                        </div>
                    </form>
                </div>
                <div id="register" class="col s12">
                    <form class="col s12">
                        <div class="form-container">
                            <h3 class="teal-text">Bienvendio</h3>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" />
                                    <label for="last_name">Nombre</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="text" class="validate" />
                                    <label for="last_name">Apellido</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate" />
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email-confirm" type="email" class="validate" />
                                    <label for="email-confirm">Confirmar Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" type="password" class="validate" />
                                    <label for="password">Contraseña</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password-confirm" type="password" class="validate" />
                                    <label for="password-confirm">Confirmar Contraseña</label>
                                </div>
                            </div>
                            <center>
                                <button class="btn waves-effect waves-light teal" type="submit" name="action">
                                    Entregar
                                </button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="all-footer">
            <div class="part-footer-change">
                <h4>CONTACTANOS</h4>
                <div class="bold-font">
                    <p>Telefono:</p>
                </div>
                <p>0291 441-3704</p>
                <div class="bold-font">
                    <p>Email:</p>
                </div>
                <p>daja@gmail.com</p>
                <div class="bold-font">
                    <p>Horarios de Atención:</p>
                </div>
                <p>Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</p>
            </div>

            <div class="part-footer-change">
                <div class="bold-font">
                    <p>ACERCA DE DAJA</p>
                </div>
                <div class="bold-font">
                    <p>Mision</p>
                </div>
                <div class="bold-font">
                    <p>Vision</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>