<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>trabajo integrador</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <section>
        <div class="navigator">
          <div class="menu">
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/tienda"></a>Tienda</li>
              <li><a href=""></a>Promos</li>
              <li><a href=""></a>Distribuidora DAJA</li>
              <li><a href=""></a>Contacto</li>
              <li><a href="/carrito">Carrito</a></li>
              <li><a href=""></a>Perfil</li>
              <li><a href="/register">Registrarse</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          </div>

          <div class="burger-over">
            <i class="fas fa-bars burger-menu"></i>
          </div>
        </div>

        <div class="main">
          <h1>Carrito de compras</h1>
          <h2 class="sub-heading">Envio gratis a partir de $1000</h2>

          <section class="shopping-cart">
            <ol class="ui-list shopping-cart--list" id="shopping-cart--list">
              <script
                id="shopping-cart--list-item-template"
                type="text/template"
              >
                <li class="_grid shopping-cart--list-item">
                  <div class="_column product-image">
                    <img class="product-image--img" src="{{=img}}" alt="Item image" />
                  </div>
                  <div class="_column product-info">
                    <h4 class="product-name">{{=name}}</h4>
                    <p class="product-desc">{{=desc}}</p>
                    <div class="price product-single-price">${{=price}}</div>
                  </div>
                  <div class="_column product-modifiers" data-product-price="{{=price}}">
                    <div class="_grid">
                      <button class="_btn _column product-subtract">&minus;</button>
                      <div class="_column product-qty">0</div>
                      <button class="_btn _column product-plus">&plus;</button>
                    </div>
                    <button class="_btn entypo-trash product-remove">Remove</button>
                    <div class="price product-total-price">$0.00</div>
                  </div>
                </li>
              </script>
            </ol>

            <footer class="_grid cart-totals">
              <div class="_column subtotal" id="subtotalCtr">
                <div class="cart-totals-key">Subtotal</div>
                <div class="cart-totals-value">$0.00</div>
              </div>
              <div class="_column shipping" id="shippingCtr">
                <div class="cart-totals-key">Carrito</div>
                <div class="cart-totals-value">$0.00</div>
              </div>
              <div class="_column taxes" id="taxesCtr">
                <div class="cart-totals-key">Taxes (6%)</div>
                <div class="cart-totals-value">$0.00</div>
              </div>
              <div class="_column total" id="totalCtr">
                <div class="cart-totals-key">Total</div>
                <div class="cart-totals-value">$0.00</div>
              </div>
              <div class="_column checkout">
                <button class="_btn checkout-btn entypo-forward">
                  Checkout
                </button>
              </div>
            </footer>
          </section>
        </div>
      </section>
    </header>
    <main>
      <section></section>
    </main>
    <footer>
      <div class="all-footer">
        <div class="part-footer-change">
          <h4>CONTACTANOS</h4>
          <div class="bold-font">
            <p>Telefono:</p>
          </div>
          <p>0291 441-3704</p>
          <div class="bold-font">
            <p>Email:</p>
          </div>
          <p>daja@gmail.com</p>
          <div class="bold-font">
            <p>Horarios de Atención:</p>
          </div>
          <p>Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</p>
        </div>

        <div class="part-footer-change">
          <div class="bold-font">
            <p>ACERCA DE DAJA</p>
          </div>
          <div class="bold-font">
            <p>Mision</p>
          </div>
          <div class="bold-font">
            <p>Vision</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
