<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>

  <body>
    <section>
      <div id="header">
        <div class="logo">
          <a href="#">DAJA</a>
        </div>
        <nav>
          <div class="menu-major">
            <div class="input-menu">
              <input name="q" placeholder="Buscar..." type="Buscar...">
            </div>

            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="">Quienes somos</a>
            </li>
            </li>
            <li>
              <a href="/login">Iniciar Sesion</a>              
            </li>
            <li>
              <a href="/register">Registrarse</a>
            </li>
            <li>
              <a href="/carrito">Carrito</a>
            </li>
            </ul>
          </div>
        </nav>
        <div class="burger-over">
          <i class="fas fa-bars burger-menu"></i>
        </div>
      </div>

      </div>
    </section>
    <main>
      <section>

   

      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
