<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>trabajo integrador</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/register.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header>
    <section>
      <div id="header">
        <div class="logo">
          <a href="#">DAJA</a>
        </div>
        <nav>
          <div class="menu-major">
            <div class="input-menu">
              <input name="q" placeholder="Buscar..." type="Buscar...">
            </div>

            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/allProducts">Todos los productos</a>
            </li>
            </li>
            <li>
              <a href="/login">Iniciar Sesion</a>
            </li>
            <li>
              <a href="/register">Registrarse</a>
            </li>
            <li>
              <a href="/carrito">Carrito</a>
            </li>
            </ul>
          </div>
        </nav>
        <div class="burger-over">
          <i class="fas fa-bars burger-menu"></i>
        </div>
      </div>

      </div>
    </section>
  </header>
  <main>
    <section>
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Registrarse </h2>

          <!-- Icon -->
          <!-- <div class="fadeIn first">
                    <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
                  </div> -->

          <!-- Login Form -->
          <form>
            <input type="text" id="Nombre" class="fadeIn second" name="Nombre" placeholder="Nombre">
            <input type="text" id="Apellido" class="fadeIn third" name="Apellido" placeholder="Apellido">
            <input type="date" id="Fecha de nacimiento" class="fadeIn fourth" name="Fecha de nacimiento"
              placeholder="Fecha de nacimiento">
            <input type="text" id="Domicilio" class="fadeIn fifth" name="Domicilio" placeholder="Domicilio">
            <input type="password" id="Contraseña" class="fadeIn sixth" name="Contraseña" placeholder="Contraseña">
            <input type="password" id="Repetir Contraseña" class="fadeIn seventh" name="Repetir Contraseña"
              placeholder="Repetir Contraseña">
            <input type="submit" class="fadeIn eighth" value="Registrarse">
          </form>
        </div>
      </div>
      </div>
    </section>
  </main>
  <%- include('./partials/footer.ejs')%>
</body>

</html>