<footer>
  <div class="all-footer">
    <div class="part-footer-change">
      <h4>CONTACTANOS</h4>
      <div>
        <div class="bold-font">
          <i class="fas fa-phone"></i>
          <p>Telefono:</p>
          <p>0291 441-3704</p>
        </div>
      </div>
      <div>
        <i class="fas fa-envelope"></i>
        <div class="bold-font">
          <p>Email:</p>
          <p>daja@gmail.com</p>
        </div>
      </div>
      <div>
        <i class="fas fa-clock"></i>
        <div class="bold-font">
          <p>Horarios de Atención:</p>
          <p>Lunes a Viernes de 9 a 19 hs. y Sabados de 9 a 13 hs.</p>
        </div>
      </div>
    </div>

    <div class="part-footer-change">
      <div>
        <i class="fas fa-info-circle"></i>
        <div class="bold-font">
          <p>ACERCA DE DAJA</p>
        </div>
        <div class="bold-font">
          <p>Mision</p>
        </div>
        <div class="bold-font">
          <p>Vision</p>
        </div>
      </div>
    </div>
  </div>
</footer>